
      <div class="pure-g">
        <div class="pure-u-1-1">
          <div class="pure-g score-block">
            <div class="range-info pure-u-1-2 l-box">
              <span class="range-info__value animated">0-10</span>
              <br />
              <span class="range-info__label">range</span>
            </div>
            <div class="attempt-info pure-u-1-2 l-box">
              <span class="attempt-info__value  animated">3</span>
              <br />
              <span class="attempt-info__label">attempts</span>
            </div>
          </div>
        </div>
        <div class="pure-u-1-1 l-box">
          <form name="game-init-options" class="pure-form pure-form-stacked" onsubmit="return false;">
            <fieldset class=" game-init">
              <button name="play-start" class="pure-button pure-button-primary ">Play</button>
              <button name="play-resume" class="pure-button pure-button-secondary ">Resume from where you left</button>
              <button name="play-instructions" class="show-instructions pure-button pure-button-secondary ">How To Play</button>
            </fieldset>
          </form>
          <form name="guess-form" class="pure-form pure-form-stacked" onsubmit="return false;">
            <p class="guess-message  animated">&nbsp;</p>
            <fieldset class="pure-group core-input">
              <input name="guess-number" type="number" placeholder="Guess the number"
               autocomplete="off" autofocus />
              <!--button class="reset" type="reset">&#x274c;</button-->
              <button type="submit" class="pure-button pure-button-primary"  >Guess</button>
            </fieldset>
          </form>
          <form name="game-off-options" class="pure-form " onsubmit="return false;">
            <fieldset class="pure-group game-off">
              <button name="play-next" class="pure-button pure-button-secondary pure-button-primary">Play Next Level</button>
              <button name="play-again" class="pure-button pure-button-secondary button-secondary">Play Again</button>
            </fieldset>
          </form>
        </div>
        <div class="pure-u-1-1 l-box">
          <form name="guess-secondary-options" class="pure-form " onsubmit="return false;">
            <fieldset class="pure-group game-on">
              <button name="give-up" type="submit" class="pure-button pure-button-secondary ">Give Up</button>
            </fieldset>
          </form>
        </div>
        <div class="pure-u-1-1 l-box">
          <div class="pure-group ad">

          </div>
        </div>
      </div>
