
      <div class="pure-g">
        <div class="pure-u-4-5 l-box instructions-content">
          <p>
            The aim of the game is to guess <em>the correct number</em> in as few attempts as possible.
          </p>
          <p>
            You will be given a range, within which <em>the number</em> lies.
            And you start guessing.
          </p>
          <p>
            If your guess is correct, you win.
            Otherwise, you'll know if your guess was greater or lesser than <em>the number</em>. And you try again.
          </p>
          <p>Give it a try and guess the number in as few attempts as possible!</p>
          <p class="align-right">
            <button class="back-to-game pure-button pure-button-primary">Back to game</button>
          </p>
        </div>
      </div>
