

.page {
    display: block;
}

.page-header {
    text-align: center;
    margin: 0.5em 0;
}

.page-header h1 {
    font-weight: 100;
    margin: 0;
}

#stage {
    z-index: 100;
}

#stage:before {
    content: '';
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;
    background: linear-gradient(0deg, #eee, #f1f1f1);
    opacity: 1;
    z-index: -99;
    transition: opacity 1s;
}

#stage.state-unsolved:before {
    background: linear-gradient(0deg, #E1F5FE, #fff);
}

#stage.state-solved:before {
    background: linear-gradient(0deg, #F1F8E9, #fff);
}

#stage.state-playing:before{
    opacity: 0;
}

@media screen and (min-width: 35.5em) {
    body {
      font-size: 1em;
    }
    .l-box {
      padding: 1em;
    }
}
