/* common.css */
html,
button,
input,
select,
textarea,
.pure-g [class *="pure-u"] {
    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    height: 100vh;
    background: #fff;
    background: linear-gradient(0deg, #f4f4f4, #fff);
}

.pure-g > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}

.l-box {
    padding: 0.3em;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
}

.button-success {
    background: rgb(28, 184, 65);
}

.button-error {
    background: rgb(202, 60, 60);
}

.button-warning {
    background: rgb(251, 140, 0);
}

.button-secondary {
    background: rgb(66, 184, 221);
}

.align-right {
    text-align: right;
}