/* game.css */

.game-view {
    max-width: 18em;
    margin: 0 auto;
}


.state-init .score-block,
.state-init form[name="guess-form"],
.state-init form[name="game-off-options"],
.state-init form[name="guess-secondary-options"] {
    display: none;
}

.state-init form[name="game-init-options"] {
    display: block;
}

.state-playing .score-block,
.state-playing form[name="guess-form"],
.state-playing form[name="guess-secondary-options"] {
    display: block;
}

.state-playing form[name="game-init-options"],
.state-playing form[name="game-off-options"] {
    display: none;
}


.state-solved .score-block,
.state-solved form[name="guess-form"],
.state-solved form[name="game-off-options"] {
    display: block;
}

.state-solved form[name="guess-form"] .core-input,
.state-solved form[name="game-init-options"],
.state-solved form[name="guess-secondary-options"] {
    display: none;
}

.state-unsolved .score-block,
.state-unsolved form[name="guess-form"],
.state-unsolved form[name="game-off-options"] {
    display: block;
}

.state-unsolved form[name="guess-form"] .core-input,
.state-unsolved form[name="game-off-options"] button[name="play-next"],
.state-unsolved form[name="game-init-options"],
.state-unsolved form[name="guess-secondary-options"] {
    display: none;
}


form[name="game-init-options"] {
    margin: 2.5em auto;
    text-align: center;
}

button[name="play-start"] {
    width: 100%;
}

button[name="play-resume"] {
    width: 100%;
    margin-top: 2em;
    font-size: 0.85em;
}

button[name="play-instructions"] {
    width: 100%;
    margin-top: 1em;
    font-size: 0.8em;
}


.score-block {
    text-align: center;
}
.range-info {
    border-right: 1px solid #ccc;
}
.range-info__value, .attempt-info__value {
    font-size: 1.3em;
    line-height: 1em;
}

.range-info__label, .attempt-info__label {
    font-variant: small-caps;
    line-height: 1em;
}

.attempt-info__value {
    transition: color 1s;
}

form[name="guess-form"]{
    text-align: center;
}
form[name="guess-form"] input[name="guess-number"] {
    width: 100%;
    text-align: center;
}
form[name="guess-form"] button[type="submit"]{
    width: 100%;
}

form[name="game-off-options"] {
    text-align: center;
}

button[name="play-next"] {
    width: 100%;
}

button[name="play-again"] {
    width: 100%;
    font-size: 0.8em;
}

form[name="guess-secondary-options"] {
    text-align: right;
    font-size: 0.8em;
    border-top: 1px solid #ccc;
}

.score-block {
    transition: transform 0.5s;
}
.state-playing .score-block {
    transform: scale(0.9);
}
.state-unsolved button[name="play-again"] {
    font-size: 1em;
}

.state-solved .guess-message,
.state-unsolved .guess-message {
    font-size: 1.5em;
}

.crossed-optimum {
    color: red;
}